@import "tailwindcss";

::selection{
  background-color: #224229;
  color:white;
}
header {
  background-image: url(/assets/header.webp);
  min-height: 100vh;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  z-index: 30;
}

header::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.3); 
  z-index: -1; 
}
body{
  font-family: var(--font-Poppins);
}
h1{
  font-family: var(--font-libre-baskerville);
}
h2,h3,h4,h5,h6{
  color:#352e23;
  font-family: var(--font-libre-baskerville);
}
.testimonial{
  background-image: url(/assets/background-2.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.icon{
  position: relative;
}

.icon::after{
  content: "";
  position: absolute;
  top: 50%;
  left: 2%;
  width: 45%;
  height: 1px;
  background-color: #352e23;
}
.icon::before{
  content: "";
  position: absolute;
  top: 50%;
  left: 53%;
  width: 45%;
  height: 1px;
  background-color: #352e23;
}